<!-- ******CTA Section****** -->
<section id="cta-section" class="cta-section section text-center home-cta-section">
    <div class="container">
       <h2 class="title">Want to have a quick chat?</h2>
       <p class="email contact-info">
           <span class="intro">You can email us</span>
           <span class="info"><a href="mailto:hello@devstudio506.com">hello@devstudio506.com</a></span>
       </p>
    </div>
</section>
