

<!-- ******Why Section****** -->
<section id="who" class="who section">
    <div class="container text-center">
        <h2 class="title text-center">Who we are</h2>
        <p class="intro text-center">We are a team of web developers and designers based in Costa Rica. We are specialised in JavaScript, ReactJs, AngularJS and Ruby on Rails.</p>
        <div class="row benefits text-center">
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner" style="height: 316px;">
                    <div class="fs1" aria-hidden="true" data-icon=""></div>
                    <h3 class="sub-title">Skilled team</h3>
                    <div class="desc">
                        <p>Our innovative techniques are supported by a team of engineers and designers highly skilled.</p>
                    </div>
                </div>
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12 sm-break">
                <div class="item-inner" style="height: 316px;">
                    <div class="fs1" aria-hidden="true" data-icon=""></div>
                    <h3 class="sub-title">Agile approach</h3>
                    <div class="desc">
                        <p>Agile approaches help teams respond to unpredictability through incremental, iterative work cadences, known as sprint.</p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner" style="height: 316px;">
                    <div class="fs1" aria-hidden="true" data-icon=""></div>
                    <h3 class="sub-title">High quality code</h3>
                    <div class="desc">
                        <p>Code must be correct and it should also be possible to demonstrate that it's correct.</p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner" style="height: 316px;">
                    <div class="fs1" aria-hidden="true" data-icon=""></div>
                    <h3 class="sub-title">No overheads</h3>
                    <div class="desc">
                        <p>We manage overheads efficiently to operate our business</p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
        <!--<a class="btn btn-cta btn-cta-secondary" href="http://themes.3rdwavemedia.com/devstudio/1.4/about.html">More about us</a>-->
    </div><!--//container-->
</section><!--//who-->

<!-- ******CTA Section****** -->
<section id="cta-section" class="cta-section section text-center home-cta-section">
    <div class="container">
       <h2 class="title">Want to have a quick chat?</h2>
       <!--//phone-->
       <p class="email contact-info">
           <span class="intro">You can email us</span>
           <span class="info"><a href="mailto:hello@devstudio506.com">hello@devstudio506.com</a></span>
       </p><!--//phone-->
    </div><!--//container-->
</section><!--//cta-section-->
