<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="bottom-bar">
        <div class="container center">
            <small class="copyright text-center">@2015 devstudio506</small>
        </div>
    </div>
</footer>
